<% Machine.populate %>
<% machines = Machine.all %>
<% i=0 %>
<% rando = "hmm" %>



<form action="submitted" method="post">
<h2><input type='checkbox' name='all_sb' id='all_sb'><label for='all_sb'> ALL SB MACHINES </label></input></h2>
<input type='checkbox' name='all_sb_cutters' id='all_sb_cutters'><label for='all_sb_cutters'> ALL SB CUTTERS </label></input>
<% machines.each do |machine| %>
  <% if machine.location == "SB" %>
    <% if machine.type == "cutter" %>
      <li><%= "<input type='checkbox' name='#{machine.name}' id='#{machine.id}'><label for='#{machine.name}'> #{machine.name} </label></input>" %></li>
    <% end %>
  <% end %>
<% end %>

<input type='checkbox' name='all_sb_folders' id='all_sb_folders'><label for='all_sb_folders'> ALL SB FOLDERS </label></input>
<% machines.each do |machine| %>
  <% if machine.location == "SB" %>
    <% if machine.type == "folder" %>
      <li><%= "<input type='checkbox' name='#{machine.name}' id='#{machine.id}'><label for='#{machine.name}'> #{machine.name} </label></input>" %></li>
    <% end %>
  <% end %>
<% end %>

<h2><input type='checkbox' name='all_sh' id='all_sh'><label for='all_sh'> ALL SH MACHINES </label></input></h2>
<input type='checkbox' name='all_sh_cutters' id='all_sh_cutters'><label for='all_sh_cutters'> ALL SH CUTTERS </label></input>
<% machines.each do |machine| %>
  <% if machine.location == "SH" %>
    <% if machine.type == "cutter" %>
      <li><%= "<input type='checkbox' name='#{machine.name}' id='#{machine.id}'><label for='#{machine.name}'> #{machine.name} </label></input>" %></li>
    <% end %>
  <% end %>
<% end %>

<input type='checkbox' name='all_sh_folders' id='all_sh_folders'><label for='all_sh_folders'> ALL SH FOLDERS </label></input>
<% machines.each do |machine| %>
  <% if machine.location == "SH" %>
    <% if machine.type == "folder" %>
      <li><%= "<input type='checkbox' name='#{machine.name}' id='#{machine.id}'><label for='#{machine.name}'> #{machine.name} </label></input>" %></li>
    <% end %>
  <% end %>
<% end %>

<input type="submit" />

<script type="text/javascript">
  // set variables
  var all_sh_folders = document.getElementById('all_sh_folders');
  var all_sh_cutters = document.getElementById('all_sh_cutters');
  var all_sh = document.getElementById('all_sh');
  var all_sb_folders = document.getElementById('all_sb_folders');
  var all_sb_cutters = document.getElementById('all_sb_cutters');
  var all_sb = document.getElementById('all_sb');

  <% machines.each do |machine| %>
    <%= "var #{machine.id} = document.getElementById('#{machine.id}');" %>
  <% end %>

  function checkSh(){
    if (all_sh.checked == true) {
      all_sh_cutters.checked = true;
      all_sh_folders.checked = true;
    } else {
      all_sh_cutters.checked = false;
      all_sh_folders.checked = false;
    }
  }

  function checkSb(){
    if (all_sb.checked == true) {
      all_sb_cutters.checked = true;
      all_sb_folders.checked = true;
    } else {
      all_sb_cutters.checked = false;
      all_sb_folders.checked = false;
    }
  }

  function checkShCutters(){
    if (all_sh_cutters.checked == true) {
      e.checked = true;
      g.checked = true;
    } else {
      e.checked = false;
      g.checked = false;
    }
  }

  function checkShFolders(){
    if (all_sh_folders.checked == true) {
      f.checked = true;
      h.checked = true;
    } else {
      f.checked = false;
      h.checked = false;
    }
  }

  function checkSbCutters(){
    if (all_sb_cutters.checked == true) {
      a.checked = true;
      c.checked = true;
    } else {
      a.checked = false;
      c.checked = false;
    }
  }

  function checkSbFolders(){
    if (all_sb_folders.checked == true) {
      b.checked = true;
      d.checked = true;
    } else {
      b.checked = false;
      d.checked = false;
    }
  }

  // Tom a
  // ted b
  // Joe c
  // john d
  // Liz  e
  // mary  f
  // mark  g
  // tommy h

  // function checkSh(){
  //   for(i=0; i<machines.length; i++){
  //     if (all_sh.checked === true) {
  //       <% machines.each_with_index do |machine, i| %>
  //         <% if machine.location == 'SH' %>
  //           <%= "#{machine.id}.checked = true;" %>
  //         <% end %>
  //       <% end %>
  //     } else {
  //       <% machines.each_with_index do |machine, i| %>
  //         <% if machine.location == 'SH' %>
  //           <%= "#{machine.id}.checked = false;" %>
  //         <% end %>
  //       <% end %>
  //     }
  //   }
  // }

  all_sh.addEventListener('click', function() {
    checkSh();
    checkShCutters();
    checkShFolders();
  }, true);
  all_sb.addEventListener('click', function() {
    checkSb();
    checkSbCutters();
    checkSbFolders();
  }, true);
  all_sh_cutters.addEventListener('click', function() {
    checkShCutters();
  }, true);
  all_sh_folders.addEventListener('click', function() {
    checkShFolders();
  }, true);
  all_sb_cutters.addEventListener('click', function() {
    checkSbCutters();
  }, true);
  all_sb_folders.addEventListener('click', function() {
    checkSbFolders();
  }, true);

</script>
